.gridContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    align-items: center;
    row-gap: 10px;
    text-align: center;
}

.gridItem1{
    display: inline;
}

.Item1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.Font{
    font-size: larger;
    font-weight: 600;
    font-style: italic;
}