
.ItemImg{
    height: 100px;
}
.itemTitile{
    display: inline-block;
    text-align: center;
    /* position: relative;
    top: -10px; */
}

.imgContainer{
    text-align: right;
}
.dec,.inc{
    background: transparent;
    border: 1px solid black;
    padding: 0px 10px;
    border-radius: 10px;
    font-size: medium;
    font-weight: 600;
    color: red;
}

.ItemQty{
    display: inline-block;
    padding: 10px;
}