.Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 23px;
}

.info{
    font-size: medium;
    font-weight: 500;
}

.subPara{
    font-size: x-small;
}

.cartLoginBtn{
    color: white;
    background-color: darkorange;
    padding: 3px 10px;
    border-radius: 3px;
    margin-top: 23px;
}

.cartLoginBtn:hover{
    cursor: pointer;
}

.cartImage{
    height: 200px;
    width: 200px;
}