/* .StoreContainer{
 margin: 10px;
} */

.StoreCarouse2{
    background: #2E90E5 0% 0% no-repeat padding-box;
    height: 280px;
    position: relative;
    overflow: hidden;
}

.StoreCarouse2 img{
    height: 350px;
    top: -70px;
    left: 70%;
    position: absolute;
}

.StoreCarouse2 h3{
    text-align: left;
    font: normal normal normal 47px/35px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
    width: 266px;
    left: 25%;
    top:75px
}

.StoreCarouse2 p{
    text-align: left;
    font: normal normal normal 16px/30px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
    width: 266px;
    /* height: 82px; */
    left: 25%;
    top: 121px;
    margin: 0;
    display: inline-block;
    line-height: 20px;
}

header{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: space-evenly;
    /* border: solid 2px; */
    background-color: beige;
    width: 100%;
}

select{
    border: none;
    padding: 10px;
}

.divSliderPrice{
    width: 200px;
    background-color: beige;
    padding: 10x;
}

.HeaderAndSliderContainer{
    margin: 10px 55px;
    display: flex;
    /* align-items: center; */
    /* width: 100%; */
    gap: 20px;
    flex-direction: row;
    flex: 30%;
}

.MainContainer{
    margin: 0 55px 55px 55px;
}